<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ user.name }}'s Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="responsive.css" />

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/profile.css') }}"
    />
  </head>

  <body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>

    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">
      <!-- ===== ===== Header/Navbar ===== ===== -->
      <header>
        <div class="brandLogo">
          
          <span>Behind The Voice</span>
        </div>
      </header>

      <!-- ===== ===== User Main-Profile ===== ===== -->
      <section class="userProfile card">
        <div class="profile">
          <img src="{{ url_for('uploaded_file', filename=user['profile_image']) }}" alt="Profile Image">

        </div>
      </section>

      <!-- ===== ===== Work & Skills Section ===== ===== -->
      <section class="work_skills card">
        <!-- <div class="work">
          <h1 class="heading">work</h1>
          <div class="primary">
            <h1>Spotify New York</h1>
            <span>Primary</span>
            <p>
              170 William Street <br />
              New York, NY 10038-212-315-51
            </p>
          </div>

          <div class="secondary">
            <h1>
              Metropolitan <br />
              Museum
            </h1>
            <span>Secondary</span>
            <p>
              S34 E 65th Street <br />
              New York, NY 10651-78 156-187-60
            </p>
          </div>
        </div> -->

        <div class="skills">
          <h1 class="heading">Performance</h1>
          <ul>
            <li style="--i: 0" ><a href="https://app.powerbi.com/view?r=eyJrIjoiZTliYWI5OWYtNzZiZi00MGQ1LWIyMmYtMTg0NzBhNDllMmYzIiwidCI6ImVhZjYyNGM4LWEwYzQtNDE5NS04N2QyLTQ0M2U1ZDc1MTZjZCIsImMiOjh9">Monthly Report</a></li>
            <li style="--i: 1"><a href="https://app.powerbi.com/view?r=eyJrIjoiNDY0MGRjYTctZWQ0YS00N2MwLTkyMDYtNjI3NjEzZTI1YzU2IiwidCI6ImVhZjYyNGM4LWEwYzQtNDE5NS04N2QyLTQ0M2U1ZDc1MTZjZCIsImMiOjh9">Annual Report</a></li>
            <!-- <li style="--i: 2">===</li>
            <li style="--i: 3">===</li> -->
          </ul>
        </div>
      </section>

      <!-- ===== ===== User Details Sections ===== ===== -->
      <section class="userDetails card">
        <div class="userName">
          <h1>{{ user.name }}</h1>

          <!-- <div class="map">
            <i class="ri-map-pin-fill ri"></i>
            <span>New York, NY</span>
          </div> -->
          <p>{{ user.jobtitle }}</p>
        </div>

        <div class="rank">
          <h1 class="heading">Rankings</h1>
          <span>8,6</span>
          <div class="rating">
            <i class="ri-star-fill rate"></i>
            <i class="ri-star-fill rate"></i>
            <i class="ri-star-fill rate"></i>
            <i class="ri-star-fill rate"></i>
            <i class="ri-star-fill rate underrate"></i>
          </div>
        </div>

        <div class="btns">
          <ul>
            <li class="sendMsg active">
              <i class="ri-check-fill ri"></i>

              <!-- <a href="#">Send Mail</a> -->
              <a href="{{ url_for('send_mail') }}">Send Mail</a>

            </li>
            <li class="sendMsg">
              <i class="ri-chat-4-fill ri"></i>
              <a href="#">Performance History</a>
            </li>

            <li class="sendMsg">
              <a href="#">Calls History</a>
            </li>
          </ul>
        </div>
      </section>

      <!-- ===== ===== Timeline & About Sections ===== ===== -->
      <section class="timeline_about card">
        <div class="tabs">
          <ul>
            <li class="timeline">
              <i class="ri-eye-fill ri"></i>
              <span>Timeline</span>
            </li>

            <li class="about active">
              <i class="ri-user-3-fill ri"></i>
              <span>About</span>
            </li>
          </ul>
        </div>

        <div class="contact_Info">
          <h1 class="heading">Contact Information</h1>
          <ul>
            <li class="phone">
              <h1 class="label">Phone:</h1>
              <span class="info">{{ user.phone }}</span>
            </li>

            <li class="adress">
              <h1 class="label">Adress:</h1>
              <span class="info">{{ user.adress }}</span>
            </li>

            <li class="email">
              <h1 class="label">E-mail:</h1>
              <span class="info">{{ user.email }}</span>
            </li>

            <!-- <li class="site">
              <h1 class="label">Site:</h1>
              <span class="info">www.rsmarquetech.com</span>
            </li> -->
          </ul>
        </div>

        <div class="basic_info">
          <h1 class="heading">Basic Information</h1>
          <ul>
            <li class="birthday">
              <h1 class="label">Birthday:</h1>
              <span class="info">{{ user.birthday }}</span>
            </li>

            <li class="sex">
              <h1 class="label">Gender:</h1>
              <span class="info">{{ user.gender }}</span>
            </li>
          </ul>
        </div>
        <a href="{{ url_for('logout') }}">Logout</a>
      </section>
    </div>
  </body>
</html>
